.Pie {
   height: 18em;
   width: 18em
}

.PieWithDescript {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.SkillsCard {
   position: absolute;
   border-radius: 20px;
   overflow: hidden;
    width: 20%;
  /* height: 100px; */
   margin-top: 30px;
   transition: background-color 0.3s ease-out;
}

.SkillsList li {
   list-style: none;
   color: white;
   font-family: 'Muli', sans-serif;
   font-size: 18px;
   padding: 0;
   margin: 0;
 }

 .SkillsListTitle {
   font-family: 'Merienda' !important;
   margin-bottom: 10px !important;
 }

 .Pie path {
    transition: all 0.3s ease-in-out;
 }

@media only screen and (max-width: 1024px) {
    .Pie {
        height: 20em;
        width: 20em
     }
}