.SideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.SideBar .NavigationItems {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavigationItems  {
    /* font-size: 1.5em; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 250px;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    text-align: center;
}

.Shape {
    background-color: lightgray;
    border-radius: 0px 0px 100px 100px;
    height: 30%;
    max-width: 200px;
    z-index: 1;
}

.Logo {
    max-width: 10vw;
    max-height: 11vw;
    margin-top: 50px;
    z-index: 2;
}


@media only screen and (max-width: 768px) {
    .Logo {
        width: 100px;
        height: 100px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .SideBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
    .NavigationItems  {
        width: 70%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        height: auto;
        font-family: 'Merienda', cursive;
        font-weight: bold;
        text-align: center;
    }
}


