.Home {
 /*    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 95% auto;
    grid-template-areas: 
        "side main"
        "side footer";*/
}

.Content {
    grid-area: main;
    background-color: #262626; 
    border-left: 2px solid white;
    height: 100vh;
}

.Content:before {
    content: '';
    width: 100%;
    height: 45vh;
    display: block;
}

.Title {
    position: relative;
    width: 100%;
    transform: translate(0,-50%);
}

.Content .Welcome {
    font-size: 5.2vw;
    margin-bottom: 0;
    font-family: 'Merienda', cursive;
    margin-left: 45px;
    color: white;
}

.Description {
    max-width: 400px;
    width: 58.333333vw;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    padding-bottom: 49px;
    margin-left: 45px;
    color: white;
}

.socialMedia p {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 45px;
    color: white;
}

.socialMedia ul {
    list-style: none;
    padding-left: 0;
    margin-left: 35px;
}

.socialMedia ul li:first-child{
    display: inline-block;
    margin-left: 0;
}

.socialMedia ul li{
    display: inline-block;
}

.socialMedia ul li a{
    text-decoration: none;
    color: #CCCCCC;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    margin-left: 10px;
}

.socialMedia ul li a:hover{
    color: white;
    opacity: 1;
}

.Quote {
    grid-area: footer;
    text-align: center;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    background-color: #262626; 
    border-left: 2px solid white;
    bottom: 5px; 
    color: white;
}


@media only screen and (min-width: 1439px) {
    .Content {
       /*  margin-left: 360px */
    }
    .Content .Welcome {
        font-size: 74px;
    }
  /*  .Content .Logo {
        left: -180px;  
        width: 20.5vw;
        height: 20.5vw 
    } */
}

@media only screen and (min-width: 1024px) {
  /*   .Content .Logo {
        width: 20.5vw;
        height: 20.5vw 
    } */
 }

@media only screen and (max-width: 540px) {
 /*   .Content .Logo {
        width: 20.5vw;
        height: 20.5vw
    } */
}
