.Main {
    background-color: #262626; 
    border-left: 2px solid white;
    height: 100vh;
}

.TitleContent {
    display: flex;
    justify-content: flex-end;
    margin-top: 15%;
    align-items: center;
}

.Title {

}

.Greeting {
    margin: 0;
    font-family: 'Merienda', cursive;
    color: white;
    text-align: right;
}

.Name {
    display: inline-flex;
    margin: 0;
    color: white;
    font-family: 'Merienda', cursive;
}

.Name p::first-letter {
    color: red;
}

.Foto {
    width: 10vw;
    height: 14vw;
    margin-right: 10%;
    margin-left: 30px;
}

.Description {
    display: block;
    text-align: right;
    color: #E6E6E6;
    width: 55%;
    float: right;
    margin-right: 10%;
    font-family: 'Muli', sans-serif;
}

.About {
}

.Text {
    text-align: justify;
    font-size: 0.5em; 
}

@media only screen and (min-width: 1439px) {
    .Main {
       /*  margin-left: 360px */
    }
}

@media only screen and (min-width: 1024px) {

 }

@media only screen and (max-width: 540px) {
    .Main {
        border-left: none;
    }
    .Foto {
        width: 70px;
        height: 100px;
    }
    .Description {
        width: 80%;
    }
    .Text {
        font-size: 12px; 
    }
}
