.NavigationItems  {
    font-size: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 250px;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    text-align: center;
}

.Logo {
    width: 20vw;
    height: 20vw;
}



